[Unit]
Description=A Python Flask Application
After=network.target

[Service]
User=root
WorkingDirectory=/terra-tier
ExecStart=flask run -h 0.0.0.0
Environment=FLASK_APP=run.py
Environment=FLASK_CONFIG=production
Restart=always

[Install]
WantedBy=multi-user.target
